<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="borde-cont">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acceso</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 Bienvenido a Sistema Asistencia Duoc></h1>


  <div class="icono-containedor">
    <ion-icon name="person-circle-outline" style="font-size: 80px; color: #696969;"></ion-icon>
  </div>

  <div class="contenedor">
    <ion-input label="Ingrese usuario" label-placement="floating" fill="outline" placeholder="Email@gmail.com"></ion-input>
  </div>

  <div class="contenedor">
    <ion-input label="Ingrese contraseña" type= "password" label-placement="floating" fill="outline" placeholder="Contraseña"></ion-input>
  </div>

  <div class="enlace-cont">
    <a href="/restablecer">
      <small>Restablecer contraseña</small>
    </a>
  </div>

  <div class="boton">
    <a href="/home">
  <ion-button>INGRESAR</ion-button>
    </a>
    </div>
</ion-content>


juanito
juan1234